<div class="container text-center">
    <h1>Create A New Pin!</h1>
    <form class="form-group" name="create_contact">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control" id="inputPinName" placeholder="Pin Name" ng-model="pin.name" ng-required="true"><br>
            <input type="text" class="form-control" id="inputPinUrl" placeholder="Pin Url" ng-model="pin.url" ng-required="true"><br>
            <button ng-disabled="create_contact.$invalid" type="button" class="btn btn-default" ng-click="submitNewPin(pin)"><img class="pin-it-btn" src="./images/pin-it.png"></button>
        </div>
    </form>

</div>