<div class="container text-center">

    <form class="form-group" name="editSingleBoardPin">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control" id="editSingleBoardPinName" ng-model="pin.name" ng-required="true">
            <input type="text" class="form-control" id="editSingleBoardPinUrl" placeholder="Pin Url" ng-model="pin.url" ng-required="true">
            <button ng-disabled="editSingleBoardPin.$invalid" type="button" class="btn btn-default" ng-click="submitNewPinToSingleBoard(pin)">Save Pin</button>
        </div>
    </form>        

</div>