<div class="container text-center">

    <form class="form-group" name="edit_pin">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control" id="editTriedPinName" ng-model="pin.name" ng-required="true">
            <input type="text" class="form-control" id="editTriedPinUrl" placeholder="Pin Url" ng-model="pin.url" ng-required="true">
            <button ng-disabled="edit_pin.$invalid" type="button" class="btn btn-default" ng-click="submitNewPinToTriedBoard(pin)">Save Pin</button>
        </div>
    </form>        

</div>