	<h1>{{boardName}}</h1>
	<div class="text-center">
    <h1>Create Pin</h1>
    <div>            
        <div class="container col-md-4 col-xs-offset-4">                    
            <div class="thumbnail pin create_pin">
                <h4>Add Pin</h4>
                <button class="btn btn-default create_pin_btn" ng-click="goToCreatePin()">+</button>
            </div>
        </div>
    </div>
	<div class="pins">
	            <div ng-repeat="pinsWithId in pinsWithIds" class="col-sm-6 col-md-4">
	                <div class="thumbnail">
	                    <h3 class="name">{{pinsWithId.name}}</h3>
	                    <p class="board_id">{{pinsWithId.board_id}}</p>
	                    <p>
	                        <div class="btn-toolbar" role="toolbar" aria-label="...">
                            <button class="btn btn-primary edit" ng-click="editPin(pinsWithId)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button ng-if="!pinsWithId.tried" class="btn btn-success tried" ng-click="makeTried(pinsWithId,pinsWithId.id)"><i class="fa fa-check-circle-o"></i></button>
                            <button ng-if="pinsWithId.tried" class="btn btn-success tried" ng-click="makeTried(pinsWithId,pinsWithId.id)"><i class="fa fa-check-circle"></i></button>
                            <button class="btn btn-danger delete" ng-click="deletePin(pinsWithId.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
	                    </p>
	                </div>
	            </div>
	    </div>
</div>